<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Creation compte</title>
    <!-- Link to Bootstrap CSS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/MemberStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href="/member/home">
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span>
                    <i class="fa fa-user fa-2x"></i>
                    <a class="user-corner" href="/member/profil">Utilisateur</a>
                </span>
            </div>
        </div>
    </nav>
    <% if (data) { %>
        <div class="container-fluid memebermenu">
            <div class="row">
                <span class="offer-firm">
                    <%= data.name %>
                </span>
            </div>
            <div class="row">
                <span class="offer-title">
                    <%= data.intitule %>
                </span>
            </div>
        </div>

        <div class="container justify-content-center">
            <div id="messageDiv" class="candidature-div">
                <span class="close-btn" onclick="closeMessage()">&times;</span>

                    <form action="/member/candidater/<%= data.offre_id %>" method="post" id="tempFileUpload"
                        enctype="multipart/form-data">

                        <div class="candidater-form">
                            <div>
                                <label>CV</label>
                                <input class="form-control" id="CVfileInput" name="CvFileInput" type="file"
                                    accept="image/*,.pdf" required="true" />
                            </div>
                            <div>
                                <label>LM</label>
                                <input class="form-control" id="LMfileInput" name="LmFileInput" type="file"
                                    accept="image/*,.pdf" />
                            </div>
                            <div>
                                <label>CNI</label>
                                <input class="form-control" id="CNIfileInput" name="CniFileInput" type="file"
                                    accept="image/*,.pdf" />
                            </div>
                                <button type="submit" class="btn btn-primary">Envoyer la candidature</button>
                        </div>
                    </form>

            </div>
            <div class="col-md-12 flex-dir-col offer align-items-center">
                <div>
                    <label class="offer-label">Description</label>
                    <span class="offer-data">
                        <%= data.description %>
                    </span>
                    <label class="offer-label">Lieu</label>
                    <span class="offer-data">
                        <%= data.loc %>
                    </span>

                    <label class="offer-label">Salaire</label>
                    <span class="offer-data">
                        <%= data.salairemin %> - <%= data.salairemax %> e.
                    </span>
                    <label class="offer-label">Horaires</label>
                    <span class="offer-data">
                        <%= data.horaire %>
                    </span>
                    <% if (data.remote==1) { %>
                        <label class="offer-label">Télétravail</label>
                        <span class="offer-data">Oui</span>
                        <% } %>
                            <label class="offer-label">Congés</label>
                            <span class="offer-data">
                                <%= data.day_off %>
                            </span>

                            <label class="offer-label">Type</label>
                            <span class="offer-data">
                                <%= data.type_metier %>
                            </span>

                            <label class="offer-label">Responsable poste</label>
                            <span class="offer-data">
                                <%= data.resp %>
                            </span>
                            <br>
                            <label class="offer-label">Entreprise</label>
                            <span class="offer-data"><i>Siège social : </i>
                                <%= data.head_office %>
                            </span>
                            <span class="offer-data"><i>Type : </i>
                                <%= data.org_type %>
                            </span>
                            <span class="offer-data"><i>SIREN : </i>
                                <%= data.siren %>
                            </span>
                </div>

            </div>
        </div>

        <script>
            function closeMessage() {
                var messageDiv = document.getElementById("messageDiv");
                window.location.href = "/member/view-offre/<%= data.offre_id %>";

            }
        </script>
        <% } else { %>
            <p>Aucun utilisateur trouvé</p>
            <% } %>
</body>

</html>