<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Creation compte</title>
    <!-- Link to Bootstrap CSS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/MemberStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href="/member/home">
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span>
                    <i class="fa fa-user fa-2x"></i>
                    <a class="user-corner" href="/member/profil">Utilisateur</a>
                </span>
            </div>
        </div>
    </nav>
    <% if (data) { %>
        <div class="container-fluid memebermenu">
            <div class="row">
                <span class="offer-firm">
                    <%= data.name %>
                </span>
            </div>
            <div class="row">
                <span class="offer-title">
                    <%= data.intitule %>
                </span>
            </div>
        </div>

        <% if (flash.error && flash.error.length > 0) { %>
            <div id="messageDiv" class="candidature-div">
              <span class="close-btn" onclick="closeMessage()">&times;</span>
              <div>
                <p><%= flash.error %></p>
              </div>
            </div>
          <% } else if (flash.success && flash.success.length > 0) { %>
            <div id="messageDiv" class="candidature-div">
              <span class="close-btn" onclick="closeMessage()">&times;</span>
              <div>
                <p><%= flash.success %></p>
              </div>
            </div>
          <% } %>


                <div class="container justify-content-center">
                    <div class="col-md-12 flex-dir-col offer align-items-center">
                        <a href="/member/candidature-offre/<%= data.offre_id %>" class="btn">Candidater</a>
                        <div>
                            <label class="offer-label">Description</label>
                            <span class="offer-data">
                                <%= data.description %>
                            </span>
                            <label class="offer-label">Lieu</label>
                            <span class="offer-data">
                                <%= data.loc %>
                            </span>

                            <label class="offer-label">Salaire</label>
                            <span class="offer-data">
                                <%= data.salairemin %> - <%= data.salairemax %> e.
                            </span>
                            <label class="offer-label">Horaires</label>
                            <span class="offer-data">
                                <%= data.horaire %>
                            </span>
                            <% if (data.remote==1) { %>
                                <label class="offer-label">Télétravail</label>
                                <span class="offer-data">Oui</span>
                                <% } %>
                                    <label class="offer-label">Congés</label>
                                    <span class="offer-data">
                                        <%= data.day_off %>
                                    </span>

                                    <label class="offer-label">Type</label>
                                    <span class="offer-data">
                                        <%= data.type_metier %>
                                    </span>

                                    <label class="offer-label">Responsable poste</label>
                                    <span class="offer-data">
                                        <%= data.resp %>
                                    </span>
                                    <br>
                                    <label class="offer-label">Entreprise</label>
                                    <span class="offer-data"><i>Siège social : </i>
                                        <%= data.head_office %>
                                    </span>
                                    <span class="offer-data"><i>Type : </i>
                                        <%= data.org_type %>
                                    </span>
                                    <span class="offer-data"><i>SIREN : </i>
                                        <%= data.siren %>
                                    </span>
                        </div>

                    </div>
                </div>
                <% } else { %>
                    <p>Aucun utilisateur trouvé</p>
                    <% } %>
                        <script>
                            function closeMessage() {
                                var messageDiv = document.getElementById("messageDiv");
                                window.location.href = "/member/view-offre/<%= data.offre_id %>";

                            }
                        </script>
</body>

</html>