<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Creation compte</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/MemberStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/member/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>

            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner"
                        href="/member/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>

    <div class="container-fluid memebermenu">
        <h4>Trouve le job parfait, selon tes critères</h4>
        <form class="search-form" action="/member/search-offer/" method="post">
            <div class="row">
              <div class=" col-md-3 filter">
                <input type="text" name="searchfield" class="form-control search-form" placeholder="Chercher une offre ou entreprise">
              </div>
              <div class=" filter col-md-2 ">
                <input type="text" name="salaire" class="form-control search-form" placeholder="Salaire souhaité">
              </div>
              <div class="filter col-md-1 ">
                <input type="number" name="dayoff" class="form-control search-form" placeholder="dayoff">
              </div>
              <div class="filter col-md-2 ">
                <input type="text" name="head_office" class="form-control search-form" placeholder="Lieu">
              </div>
              <div class="filter col-md-1 just">
                  <p> TT</p>
                  <input type="checkbox" name="remote" id="remote">
              </div>
              <div class="filter col-md-2">
                <button type="submit" class="searchbtn"><i class="fas fa-search"></i> Recherche</button>
              </div>
            </div>
          </form>
    </div>
    <% if (typeof criteria !==  'undefined') { %>
        <h5>Resultats de la recherche </h5>
        <% } else { %>
            <h5>Les offres urgentes</h5>
            <% } %>
    <div class="container justify-content-center">
        <% if (offres.length> 0) { %>
            <% offres.forEach(function(offre) { %>
                <div class="row col-md-12 offer">
                    <div class="col-md-6">
                        <span class="offer-firm">
                            <%= offre.loc %>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="offer-info"><i class="fas fa-map-marker"></i>
                            <%= offre.head_office %>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="offer-info"><i class="fas fa-money-bill-wave"></i>
                            <%= offre.salairemin %> €/an
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="offer-info"><i class="fas fa-calendar"></i>
                            <%= offre.date_v_debut.toLocaleDateString('fr-FR') %>
                        </span>
                    </div>
                    <div class="col-md-12">
                        <span class="offer-title">
                            <%= offre.intitule %>
                        </span>
                    </div>

                    <div class="col-md-8">
                        <span class="offer-description">
                            <%= offre.description %>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <a href="/member/view-offre/<%= offre.offre_id %>" class="btn">Candidater</a>
                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <p>Aucune offre disponible pour le moment.</p>
                        <% } %>
                        <% if (typeof criteria !==  'undefined') { %>
                            <div class="pagination">
                                <% if (totalPages > 1) { %>
                                <% for (let i=1; i <= totalPages; i++) { %>
                                    <form action="/member/search-offer" method="post" class="pagination-form">
                                        <input type="hidden" name="page" value="<%= i %>">
                                        <input type="hidden" name="criteria" value="<%= criteria %>">
                                        <button type="submit"
                                            class="pagination-link <%= (i == currentPage) ? 'active' : '' %>">
                                            <%= i %>
                                        </button>
                                    </form>
                                    <% } %>
                                    <% } %>
                            </div>
                      
                            </div>
                            <% } %>
    </div>
</body>

</html>