<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Candidatures</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/RecruiterStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href="/recruiter/home">
                    <h2 href='' class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner" href="/recruiter/profil">
                        Utilisateur</a></span>
            </div>
        </div>
    </nav>
    <div class="container-fluid recruiter-menu justify-content-center">
        <h4>Gerer vos offres</h4>

        <form class="search-form" action="/member/search-offer/" method="post">
            <div class="row">
                <div class="col-md-3 ">
                    <input type="text" class="menu-field form-control" placeholder="Chercher">
                </div>
                <div class="col-md-3 ">
                    <button type="submit" class="menu-field searchbtn btn"><i class="fas fa-search"></i>
                        Recherche</button>
                </div>
                <div class="col-md-3">
                    <a href="/recruiter/createOffer" class="menu-field searchbtn btn">Creer une offre</a>
                </div>
                <div class="col-md-3">
                    <a href="/recruiter/nvrecruteurs" class="menu-field searchbtn btn">Nouveaux recruteurs</a>
                </div>
            </div>
        </form>

    </div>


    <div class="container justify-content-center">
        <% if (data.length> 0) { %>
            <% data.forEach(function(data) { %>
                <div class="row col-md-12 offer">
                    <div class="col-md-12">
                        <h3 class="offer-firm">
                            <%= data.prenom %>
                                <%= data.nom %>
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <span class="offer-info"><i class="fas fa-file-contract"></i> <a
                                href="/recruiter/view-offre/<%= data.offre_id %>">Candidature pour le poste : <%=
                                    data.intitule %></a></span>
                    </div>
                    <div class="col-md-6">
                        <span class="offer-info">
                            Mail du candidat : <%= data.mail %>
                        </span>
                        <span class="offer-info">
                            Numéro du candidat : <%= data.phone %>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <span class="offer-info"><i class="fas fa-calendar"></i>
                            <%= data.type_metier %>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <span class="offer-title"><a href="/recruiter/view-offre/<%= data.offre_id %>">statut de l'offre
                                : <%= data.status %></a></span>
                    </div>
                    <div class="col-md-12">
                        <p class="offer-description">Description de l'offre : <%= data.description %>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <a href="/recruiter/candidatures/<%= data.id %>" class="btn btn-primary">Détails candidature</a>
                    </div>

                </div>
                <% }); %>
                    <% } else { %>
                        <p>Aucune offre disponible pour le moment.</p>
                        <% } %>
    </div>
</body>

</html>