<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Creation offre</title>
    <!-- Link to Bootstrap CSS files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/RecruiterStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href="/recruiter/home">
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span>
                    <i class="fa fa-user fa-2x"></i>
                    <a class="user-corner" href="/recruiter/profil">Utilisateur</a>
                </span>
            </div>
        </div>
    </nav>
    <div class="container-fluid recruiter-menu justify-content-center">
        <h4>Créer une offre</h4>
    </div>

    <div class="container justify-content-center">

        <form action="/recruiter/creatingOffer" method="post">
            <div class="row">
                <div class="col-md-9">
                    <div>
                        <label class="info-profil-label" for="intitule">Intitulé</label>
                        <input type="text" class="form-control" id="intitule" name="intitule" required>
                    </div>
                    <div>
                        <label class="info-profil-label" for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" required>
                    </div>

                    <div>
                        <label class="info-profil-label" for="type_metier">Type de métier</label>
                        <input type="text" class="form-control" id="type_metier" name="type_metier" required>
                    </div>
                    <div>
                        <label class="info-profil-label" for="loc">Localisation</label>
                        <input type="text" class="form-control" id="loc" name="loc" required>
                    </div>
                    <div>
                        <label class="info-profil-label" for="horaire">Horaire</label>
                        <input type="text" class="form-control" id="horaire" name="horaire" required>
                    </div>

                </div>
                <div class="col-md-3">
                    <div>
                        <label class="info-profil-label" for="resp">Responsable</label>
                        <input type="text" class="form-control" id="resp" name="resp" required>
                    </div>
                    <div>
                        <label class="info-profil-label" for="salairemin">Salaire minimum</label>
                        <input type="int" class="form-control" id="salairemin" name="salairemin" required>
                    </div>
                    <div>
                        <label class="info-profil-label" for="salairemax">Salaire maximum</label>
                        <input type="number" class="form-control" id="salairemax" name="salairemax" required>
                    </div>
                    <div>
                        <label class="info-profil-label" for="day_off">Congé</label>
                        <input type="number" class="form-control" id="day_off" name="day_off" required>
                    </div>
                    <div>
                        <label class="info-profil-label" for="remote">Télétravail</label>
                        <select class="opt form-control" id="remote" name="remote" required>
                            <option type="number" value="1">Oui</option>
                            <option type="number" value="0">Non</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row offer-div ">
                <div class="col-md-4">
                    <label class="info-profil-label" for="date_v_debut">Date de validité (début)</label>
                    <input type="date" class="form-control" id="date_v_debut" name="date_v_debut" required>
                </div>
                <div class="col-md-4">
                    <label class="info-profil-label" for="date_v_fin">Date de validité (fin)</label>
                    <input type="date" class="form-control" id="date_v_fin" name="date_v_fin" required>
                </div>
                <div class="col-md-4">
                    <label class="info-profil-label" for="statut">Statut</label>
                    <select class="opt form-control" id="statut" name="statut" required>
                        <option type="text" value="publiee">publique</option>
                        <option type="text" value="non_publiee">non publiée</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-action">Envoyer</button>
        </form>
    </div>
    <script>
        // Afficher les messages d'erreur pour les champs invalides
        const form = document.querySelector('form');
        form.addEventListener('submit', (event) => {
            const inputs = form.querySelectorAll('input');
            inputs.forEach((input) => {
                if (!input.checkValidity()) {
                    input.classList.add('is-invalid');
                    const errorMsg = input.parentElement.querySelector('.error-msg');
                    errorMsg.style.display = 'block';
                    event.preventDefault();
                }
            });
        });

        // Effacer les messages d'erreur lorsqu'un champ est modifié
        const inputs = form.querySelectorAll('input');
        inputs.forEach((input) => {
            input.addEventListener('input', () => {
                input.classList.remove('is-invalid');
                const errorMsg = input.parentElement.querySelector('.error-msg');
                errorMsg.style.display = 'none';
            });
        });
    </script>
</body>

</html>