<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Offre</title>
  <!-- Link to Bootstrap CSS files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/RecruiterStylesheet.css">

</head>

<body>
  <nav class="navbar justify-content-center">
    <div class="container row">
      <div class="div-md-5">
        <div class="toprectangle"></div>
        <a href="/recruiter/home">
          <h2 class="logo">Job'alicious</h2>
        </a>
      </div>
      <div class="div-md-4">
        <hr>
      </div>
      <div class="div-md-3">
        <span>
          <i class="fa fa-user fa-2x"></i>
          <a class="user-corner" href="/recruiter/profil">Utilisateur</a>
        </span>
      </div>
    </div>
  </nav>

  <% if (data) { %>
    <div class="container-fluid recruiter-menu justify-content-center">
      <h4>
        <%=data.intitule %>
      </h4>
      <h6>Information complète</h6>

    </div>
    <div class="col-md-12 offer-action">
      <a href="/recruiter/view-candid/<%= data.offre_id %>" class="btn btn-action">Afficher Candid</a>
      <a href="/recruiter/editOffre/<%= data.offre_id %>" class="btn btn-action">Modifier</a>
      <a href="/recruiter/delete/<%= data.offre_id %>" class="btn btn-action"
        onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?');">
        Supprimer</a>
    </div>
    <div class="container-fluid main-container">
      <div class="memebermenu"></div>

      <div class="row justify-content-center">
        <div class="col-md-12 flex-dir-col offer align-items-center">
          <div>
            <div class="row">
              <div class="col-md-9">
                <label class="offer-label">Description</label>
                <span class="offer-data">
                  <%= data.description %>
                </span>
                <label class="offer-label">Lieu</label>
                <span class="offer-data">
                  <%= data.loc %>
                </span>

                <label class="offer-label">Horaires</label>
                <span class="offer-data">
                  <%= data.horaire %>
                </span>
                <label class="offer-label">Type</label>
                <span class="offer-data">
                  <%= data.type_metier %>
                </span>
                <label class="offer-label">Entreprise</label>
                <span class="offer-data"><i>Siège social : </i>
                  <%= data.head_office %>
                </span>
                <span class="offer-data"><i>Type : </i>
                  <%= data.org_type %>
                </span>
                <span class="offer-data"><i>SIREN : </i>
                  <%= data.siren %>
                </span>
              </div>
              <div class="col-md-3">
                <label class="offer-label">Responsable poste</label>
                <span class="offer-data">
                  <%= data.resp %>
                </span>

                <label class="offer-label">Salaire</label>
                <span class="offer-data">
                  <%= data.salairemin %> - <%= data.salairemax %> e.
                </span>
                <label class="offer-label">Congés</label>
                <span class="offer-data">
                  <%= data.day_off %>
                </span>
                <% if (data.remote==1) { %>
                  <label class="offer-label">Télétravail</label>
                  <span class="offer-data">Oui</span>
                  <% } %>
              </div>

            </div>
          </div>

        </div>
        <div class="col-md-12 offer-div ">
          <div class="col-md-4">
            <label class="info-profil-label" for="date_v_debut">Date de validité (début)</label>
            <span class="offer-data">
              <%= data.date_v_debut.toLocaleDateString('fr-FR') %>
            </span>
          </div>
          <div class="col-md-4">
            <label class="info-profil-label" for="date_v_fin">Date de validité (fin)</label>
            <span class="offer-data">
              <%= data.date_v_fin.toLocaleDateString('fr-FR') %>
            </span>
          </div>
          <div class="col-md-4">
            <label class="info-profil-label" for="statut">Statut</label>
            <span class="offer-data">
              <%= data.state %>
            </span>
          </div>
        </div>



      </div>
      <% } else { %>
        <p>Aucun utilisateur trouvé</p>
        <% } %>

          <script>
            function closeMessage() {
              var messageDiv = document.getElementById("messageDiv");
              messageDiv.style.display = "none";
            }
          </script>
</body>

</html>