<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Candidature</title>
  <!-- Link to Bootstrap CSS files -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="/stylesheets/RecruiterStylesheet.css">

</head>

<body>
  <nav class="navbar justify-content-center">
    <div class="container row">
      <div class="div-md-5">
        <div class="toprectangle"></div>
        <a href="/recruiter/home">
          <h2 class="logo">Job'alicious</h2>
        </a>
      </div>
      <div class="div-md-4">
        <hr>
      </div>
      <div class="div-md-3">
        <span>
          <i class="fa fa-user fa-2x"></i>
          <a class="user-corner" href="/recruiter/profil">Utilisateur</a>
        </span>
      </div>
    </div>
  </nav>
  <% if (data.length> 0) { %>
    <div class="container-fluid recruiter-menu justify-content-center">
      <h6>Détails de la candidature</h6>
      <h4>
        <%= data[0].prenom %>
          <%= data[0].nom %>
      </h4>
    </div>

    <div class="container justify-content-center">
      <div class="row col-md-12 offer">
        <div class="col-md-6">
          <h3 class="offer-firm">
            <%= data[0].prenom %>
              <%= data[0].nom %>
          </h3>
          <span class="offer-firm">
            Mail du candidat : <%= data[0].mail %>
          </span><br>
          <span class="offer-firm">
            Numéro du candidat : <%= data[0].phone %>
          </span>
        </div>

        <div class="col-md-6">
          <span class="offer-info"><i class="fas fa-file-contract"></i> <a
              href="/recruiter/view-offre/<%= data[0].offre_id %>">Candidature pour le poste : <%= data[0].intitule %>
            </a></span><br>
          <span class="offer-info"><a href="/recruiter/view-offre/<%= data[0].offre_id %>">statut de l'offre : <%=
                data[0].status %></a></span><br>
          <span class="offer-info"><i class="fas fa-calendar"></i>
            <%= data[0].type_metier %>
          </span>
        </div>
      </div>
      <div class="row col-md-12 offer">
        <div class="col-md-12 download-buttons">
          <% data.forEach(function(item) { %>
            <a href="/recruiter/common/getfile?fichier_cible=<%= item.document_name %>" class="btn btn-primary"
              target="_blank">Télécharger <%= item.document_name %></a>
            <% }); %>
        </div>
      </div>
      <% } else { %>
        <p>Aucune candidatures disponible pour le moment.</p>
        <% } %>

          <script>
            function closeMessage() {
              var messageDiv = document.getElementById("messageDiv");
              messageDiv.style.display = "none";
            }
          </script>
</body>

</html>