<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/RecruiterStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/recruiter/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner"
                        href="/recruiter/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>

    <div class="container-fluid recruiter-menu justify-content-center">
        <h4>Gerer vos offres</h4>

        <form class="search-form" action="/recruiter/search-offer/" method="post">
            <div class="row">
                <div class="col-md-3 ">
                    <input type="text" name="searchfield" class="form-control search-form" placeholder="Chercher une offre">
                </div>
                <div class="col-md-3 ">
                    <button type="submit" class="menu-field searchbtn btn"><i class="fas fa-search"></i>
                        Recherche</button>
                </div>
                <div class="col-md-3">
                    <a href="/recruiter/createOffer" class="menu-field searchbtn btn">Creer une offre</a>
                </div>
                <div class="col-md-3">
                    <a href="/recruiter/nvrecruteurs" class="menu-field searchbtn btn">Nouveaux recruteurs</a>
                </div>
            </div>
        </form>

    </div>

    <div class="container justify-content-center">
        <% if (offre.length> 0) { %>
            <% offre.forEach(function(offre) { %>
                <div class="row col-md-12 offer">
                    <div class="col-md-6">
                        <span class="offer-firm">
                            <%= offre.name %>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="offer-info"><i class="fas fa-file-contract"></i>
                            <%= offre.loc %>
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="offer-info"><i class="fas fa-money-bill-wave"></i>
                            <%= offre.salairemin %> €/an
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="offer-info"><i class="fas fa-calendar"></i>
                            <%= offre.loc %>
                        </span>
                    </div>
                    <div class="col-md-12">
                        <span class="offer-title"><a href="/recruiter/view-offre/<%= offre.offre_id %>">
                                <%= offre.intitule %>
                            </a></span>
                    </div>

                    <div class="col-md-12">
                        <span class="offer-description">
                            <%= offre.description %>
                        </span>
                    </div>
                    <div class="col-md-12 offer-action">
                        <a href="/recruiter/view-candid/<%= offre.offre_id %>" class="btn btn-action">
                            Candidats</a>
                        <a href="/recruiter/view-offre/<%= offre.offre_id %>" class="btn btn-action">Afficher</a>
                        <a href="/recruiter/editOffre/<%= offre.offre_id %>" class="btn btn-action">Modifier</a>
                        <a href="/recruiter/delete/<%= offre.offre_id %>" class="btn btn-action"
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?');">Supprimer</a>
                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <p class="no-offer">Aucune offre disponible pour le moment.</p>
                        <% } %>
    </div>
</body>

</html>