@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    font-family : 'Poppins' ;
}

a, p {
    font-family: 'Poppins';
    font-style: normal;
    color: #001A78;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

a{
    font-weight: 600;
}

header{
    height: 132px;
    background: #FFFFFF;
    padding: 1.25rem 1.5rem;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #001A78;
    display: inline-flex;
}

.toprectangle{
    width: 28px;
    height: 40px;
    background: #1C4E7D;
    display:inline-flex;
}

hr{
    width: 907px;
    height: 0px;
    border: 1px solid #1C4E7D;
}

.Presentation{
    align-items: center ;
    padding: 1rem 1rem;
}

.titre{
    font-weight: 400;
    font-size: 100px;
    line-height: 110px;
    color: #001A78;
}

.soustitre{
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #000d3e;
}

.container{
    padding-right:15px ;
    padding-left: 15px;
    align-items: center ;
}

.btn {
    background: #03008F;
    border : 0px;
    width : 55%;
    padding: 0.5rem 0.75rem;
    margin-top: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    display :block;
}

.btn:hover {
    background: #000237;
}

h3{
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    color: #001A78;
}
.carte{
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #D9DFFF;
  }
  
  .carte-body {
    padding: 0.75rem 2.5rem;
    align-items: center;
    background: #ffffff;
  }

  .carte-header {
    border-radius : 20px; 
    padding: 0.75rem 1.25rem;
    align-items: center;
    background: #D9DFFF;
  }

  .carte-footer {
    padding: 0.75rem 1.25rem;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  .form-control {
    background: #FFFFFF;
    border: 3px solid #D9DFFF;
    font-size: 14px;
    border-radius: 20px;
    padding-left: 20px;    
    padding-right: 20px;
    padding-top: 10px;    
    padding-bottom: 10px;
  }

  .form-group {
    padding-left: 10px;
    padding-right: 10px;
  }

 label {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #001A78;
    text-transform : uppercase;
 }
