@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
}

a,
p {
    font-family: 'Poppins';
    font-style: normal;
    color: #202020;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

a:hover {
    color: #2eb6a4;
}

a {
    font-weight: 600;
}

label {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2eb6a4;
    text-transform: uppercase;
}

.offer-label {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2eb6a4;
    text-transform: uppercase;
    display: block;
}

.offer-action {
    display: flex;
}

.btn-action {
    text-align: center;
    margin: 0.5rem;
}

.offer-data {
    margin-left: 2rem
}

nav,
.navbar {
    position: relative;
    height: 132px;
    width: 100%;
    background: #FFFFFF;
    padding: 1.25rem 1.5rem;
    align-items: center;
    display: flex;
}

.download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.download-buttons .btn {
    margin: 5px;
}

.nav-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #17585d;
    display: block;
    justify-self: right;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #2eb6a4;
    display: inline-flex;
}

.toprectangle {
    width: 20px;
    height: 30px;
    background: #2eb6a4;
    display: inline-flex;
}

.user-corner {
    font-weight: 300;
    font-size: 18px;
}

.container {
    align-items: center;
}

.profil-menu {
    flex-wrap: nowrap;
    align-items: flex-start;
}

.btn {
    background: #2eb6a4;
    border: 0px;
    width: 60%;
    padding: 0.5rem 0.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: block;
    justify-self: right;
}

.request-btn {
    align-self: center;
    margin-top: 1rem;
}

h1 {
    padding: 1rem 1rem;
    align-self: center;
}

h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
}

h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    color: #17585d;
}

h4 {
    font-weight: 400;
    font-size: 30px;
    color: #17585d;
}

h5 {
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color: #000000;
    padding-left: 2rem;
    padding-top: 1rem;
}

.opt {
    padding-top: 0px;
}

.form-control {
    background: #FFFFFF;
    border: 3px solid #D9DFFF;
    font-size: 14px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.filter {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 2px;
    margin-left: 2px;
}

.col-md-2,
.col-md-3,
.col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
}

.col-md-7,
.col-md-5 {
    display: grid;

}

.search-form {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0px;
    padding: 0.5rem 0.75rem;
}

.searchbtn {
    background: #ffffff;
    border: 0px;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    display: block;
    border-radius: 0px;
}

.searchbtn:hover,
.btn:hover {
    background: #17585d;
    color: #FFFFFF;
}

.recruiter-menu {
    position: sticky;
    align-content: center;
    background: #abe9e0;
    border: 0px solid;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-field {
    height: 100%;
}

.offer {
    display: flex;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 1.25rem 1.50rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.offer>div {
    width: 100%;

}

.candid-offer {
    display: flex;
    border: 1px solid #000000;
    border-radius: 30px;
    padding-right: 0%;
    margin: 20px;
}

.offer-overview {
    padding: 1rem 1rem;
}

.candid-info {
    display: block;
    border: 1px solid #abe9e0;
    border-radius: 30px;
    padding: 1.5rem 1.5rem;
    background-color: #abe9e0;

}

.offer-firm {
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.offer-info {
    color: #000000;
    justify-content: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.offer-title {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.offer-description {
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

ul {
    list-style: none;
}

li {
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 30px;

}

.fa {
    margin-right: 0.4rem;
}

.lien-profil {
    font-style: normal;
    font-size: 16px;
    font-weight: lighter;
    color: #000000;
}

.lien-profil-current {
    font-weight: bolder;
}


.liens-profil-container {
    margin: 10px;
    padding: 2rem 2rem;
    background-color: #b6ebe3;
    border: 0px;
    border-radius: 0px;
    display: grid;
}

.info-profil-container {
    margin: 20px;
    padding: 2rem 2rem;
    border: 3px solid #c1f4e9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-profil-container>div {
    width: 100%;
}

.info-profil-label {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #545454;
    text-transform: uppercase;
    display: block;
}

.flex-dir-col {
    flex-direction: column;
}

.info-profil,
.form-control {
    background: #FFFFFF;
    display: block;
    border: 3px solid #c6f3e9;
    font-size: 14px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.offer-div {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #c6f3e9;
    border: Opx;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.offer-div>form {
    width: 100%;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    width: 100%;
}

form>div {
    width: 100%;
}

.candidature-div>button {
    margin: 1rem;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.candidater-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.candidater-form>div {
    width: 100%;
}