<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Devenir membre</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/RecruiterStylesheet.css">

</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href="/recruiter/home">
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner" href="/recruiter/profil">
                        Utilisateur</a></span>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row profil-menu ">
            <div class="col-md-4 liens-profil-container">
                <div>
                    <% if (data) {%>
                        <h2><i class="fa fa-user fa-2x"></i>
                            <%= data.prenom %>
                                <%= data.nom %>
                        </h2>
                        <% } else { %>
                            <p>Aucun utilisateur trouvé</p>
                            <% } %>
                </div>
                <div class="liste-liens-profil">
                    <ul>
                        <li> </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/recruiter/profil">Mes Infos</a>

                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/recruiter/profil/firm">Mon Entreprise</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil lien-profil-current " href="/recruiter/profil/member">Devenir
                                Membre</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/recruiter/profil/admin">Devenir Admin</a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <h4>Quitte ton rôle de recruteur</h4>
                </div>
                <div class="info-profil-container">
                    <form action="/recruiter/profil/becomemember" method="post"
                        onsubmit="return confirm('Êtes-vous sûr de vouloir refuser ce recruteur ?');">
                        <button type="submit" class="btn">Devenir membre</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>