<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>EditFirm</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/RecruiterStylesheet.css">

</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href="/recruiter/home">
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner" href="/recruiter/profil">
                        Utilisateur</a></span>
            </div>
        </div>
    </nav>
    <% if (data) {%>
        <div class="container">
            <div class="row profil-menu ">
                <div class="col-md-4 liens-profil-container">
                    <div>
                        <h2><i class="fa fa-user fa-2x"></i>
                            <%= data.prenom %>
                                <%= data.nom %>
                        </h2>
                    </div>
                    <div class="liste-liens-profil">
                        <ul>
                            <li> </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil" href="/recruiter/profil">Mes Infos</a>

                            </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil lien-profil-current" href="/recruiter/profil/firm">Mon
                                    Entreprise</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil" href="/recruiter/profil/member">Devenir Membre</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil" href="/recruiter/profil/admin">Devenir Admin</a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <form action="/recruiter/profil/editingFirm" method="post">
                        <div>
                            <h4>Données du compte</h4>
                        </div>
                        <div class="info-profil-container">

                            <div>
                                <label class="info-profil-label" for="name">Nom</label>
                                <input type="nom" class="form-control" id="name" name="name" value="<%= data.name %>">
                            </div>
                            <div>
                                <label class="info-profil-label">SIREN</label>
                            <span class="info-profil">
                                <%= data.siren %>
                            </span>
                            </div>
                            <div>
                                <label class="info-profil-label" for="adress">Adresse</label>
                                <input type="addresse" class="form-control" id="adress" name="adress"
                                    value="<%= data.head_office %>">
                            </div>
                            <div>
                                <label class="info-profil-label" for="type">Type</label>
                                <input type="type" class="form-control" id="type" name="type"
                                    value="<%= data.org_type %>">
                            </div>
                            <div class="align-content-center">
                                <button type="submit" class="btn request-btn">Enregistrer</button>
                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
        <% } else { %>
            <p>Aucun utilisateur trouvé</p>
            <% } %>
</body>

</html>