<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Creation compte</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/AdminStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/admin/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner" href="/admin/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>
    <div class="container-fluid recruiter-menu">
        <h1>Gerer les utilisateurs</h1>
        <div class="row ">
            <div class="col-md-3">
                <a href="/admin/home" type="button" class="btn searchbtn">Nouveau Membres</a>
            </div>
            <div class="col-md-3">
                <a href="/admin/home-recrut" type="button" class="btn searchbtn">Nouveau Recruteurs</a>
            </div>
            <div class="col-md-6 searchbar">
                <form action="/admin/search-user" method="post">
                    <input type="text" name="criteria" class="menu-field form-control" placeholder="Nom ou SIREN">
                    <button type="submit" class="searchbtn"><i class="fas fa-search"></i> Recherche</button>
                </form>
            </div>
         
        </div>
    </div>


    <div class="container justify-content-center">

        <h1>Demandes d'adhésions nouveaux administrateurs</h1>
        <% if (typeof message !=='undefined') { %>
            <div id="messageDiv" class="message-div">
                <span class="close-btn" onclick="closeMessage()">&times;</span>
                <span id="messageText">
                    <%= message %>
                </span>
            </div>
            <% } %>
                <% if (users.length> 0) { %>
                    <% users.forEach(function(user) { %>
                        <div class="row col-md-12 member-info">
                            <div class="col-md-8 member-overview">
                                <span class="member-name">
                                    <%= user.nom %>
                                        <%= user.prenom %>
                                </span><br>
                                <span class="member-email">
                                    <%= user.mail %>
                                </span><br>
                                <span class="member-phone">
                                    <%= user.phone %>
                                </span><br>
                            </div>
                            <div class="col-md-4 member-action ">
                                <div>
                                    <form action="/admin/update-user/<%= user.user_id %>/approve" method="POST">
                                        <button type="submit" class="btn action">Accepter</button>
                                    </form>
                                </div>
                                <div>
                                    <form action="/admin/update-user/<%= user.user_id %>/deny" method="POST">
                                        <button type="submit" class="btn action">Supprimer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                            <% } else { %>
                                <p>Aucune demande disponible pour le moment.</p>
                                <% } %>
    </div>

    <script>
        function closeMessage() {
            var messageDiv = document.getElementById("messageDiv");
            messageDiv.style.display = "none";
        }
    </script>
</body>

</html>