<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Creation compte</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/AdminStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/admin/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner" href="/admin/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>
    <div class="container-fluid recruiter-menu">
        <h1>Gerer les utilisateurs</h1>
        <div class="row ">
            <div class="col-md-3">
                <a href="/admin/home" type="button" class="btn searchbtn">Nouveau Membres</a>
            </div>
            <div class="col-md-3">
                <a href="/admin/home-recrut" type="button" class="btn searchbtn">Nouveau Recruteurs</a>
            </div>
            <div class="col-md-6 searchbar">
                <form action="/admin/search-user" method="post">
                    <input type="text" name="criteria" class="menu-field form-control" placeholder="Nom ou SIREN">
                    <button type="submit" class="searchbtn"><i class="fas fa-search"></i> Recherche</button>
                </form>
            </div>

        </div>
    </div>


    <div class="container justify-content-center">

        <h1>Resultats de la recherche </h1>
        <% if (users.length> 0) { %>
            <% users.forEach(function(user) { %>
                <div class="row col-md-12 member-info">
                    <div class="col-md-6 member-overview">
                        <span class="member-name">
                            <%= user.nom %>
                                <%= user.prenom %>
                        </span>
                        <span class="member-email">
                            <%= user.mail %>
                        </span>
                        <span class="member-phone">
                            <%= user.phone %>
                        </span>
                    </div>
                    <div class="col-md-6 member-action ">
                        <span class="member-email">
                            crée le : <%= user.datecrea.toLocaleDateString('fr-FR') %>
                        </span>
                        <span class="member-email">
                            rôle : <%= user.user_type %> - <%= user.organisation %>
                        </span>
                        <span class="member-email">
                            statut <%= user.statut %>
                        </span>

                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <p>Aucun utilisateur trouvé</p>
                        <% } %>
                            <div class="pagination">
                                <% if (totalPages> 1) { %>
                                    <% for (let i=1; i <=totalPages; i++) { %>
                                        <form action="/admin/search-user" method="post" class="pagination-form">
                                            <input type="hidden" name="page" value="<%= i %>">
                                            <input type="hidden" name="criteria" value="<%= criteria %>">
                                            <button type="submit"
                                                class="pagination-link <%= (i == currentPage) ? 'active' : '' %>">
                                                <%= i %>
                                            </button>
                                        </form>
                                        <% } %>
                                            <% } %>
                            </div>
    </div>
</body>

</html>