<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MyInfo</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/AdminStylesheet.css">
</head>


<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/admin/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner"
                        href="/admin/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>
    <% if (data) {%>
        <div class="container">
            <div class="row profil-menu ">
                <div class="col-md-5 liens-profil-container">
                    <div>
                        <h2><i class="fa fa-user fa-2x"></i>
                            <%= data.prenom %>
                                <%= data.nom %>
                        </h2>
                    </div>
                    <div class="liste-liens-profil">
                        <ul>
                            <li> </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil lien-profil-current" href="/admin/profil">Mes Infos</a>

                            </li>

                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil" href="/admin/profil/member">Devenir Membre</a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div>
                        <h4>Données du compte</h4>
                    </div>
                    <div class="info-profil-container">
                        <div>
                            <span>Membre depuis : <%= data.datecrea.toLocaleDateString('fr-FR') %></span>
                        </div>
                        <div>
                            <label class="info-profil-label">Nom</label>
                            <span class="info-profil">
                                <%= data.nom %>
                            </span>
                        </div>
                        <div>
                            <label class="info-profil-label">Prenom</label>
                            <span class="info-profil">
                                <%= data.prenom %>
                            </span>
                        </div>
                        <div>
                            <label class="info-profil-label">Email</label>
                            <span class="info-profil">
                                <%= data.mail %>
                            </span>
                        </div>
                        <div>
                            <label class="info-profil-label">Telephone</label>
                            <span class="info-profil">
                                <%= data.phone %>
                            </span>
                        </div>

                        <a href="/admin/profil/edit" class="btn request-btn">Modifier</a>


                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
            <p>Aucun utilisateur trouvé</p>
            <% } %>
</body>

</html>