@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family : 'Poppins' ;
}

a, p {
    font-family: 'Poppins';
    font-style: normal;
    color: #195433;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

a:hover{
    color: #b62E54;}
a{
    font-weight: 600;
}

.fa{
    margin-right: 0.2rem;
}
nav, .navbar{
    position:sticky ;
    height: 132px;
    width: 100%;
    background: #FFFFFF;
    padding: 1.25rem 1.5rem;
    align-items: center;
    display: flex;
}

.nav-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #5d172b;
    display: block;
    justify-self: right;
}

.logo{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #b62E54;
    display: inline-flex;
}

.toprectangle{
    width: 20px;
    height: 30px;
    background: #b62E54;
    display:inline-flex;
}

.container{
    align-items: center ;
}

.btn {
    background: #b62E54;
    border : 0px;
    width : 60%;
    padding: 0.5rem 0.5rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display :block;
    justify-self: right;
}

h3{
    font-weight: 500;
    font-size: 40px;
    line-height: 54px;
    color: #001A78;
}

h4{
    padding :  1rem 1rem;
}

  .form-control {
    background: #FFFFFF;
    border: 3px solid #D9DFFF;
    font-size: 14px;
    border-radius: 20px;
    padding-left: 20px;    
    padding-right: 20px;
    padding-top: 10px;    
    padding-bottom: 10px;
  }

 label {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #001A78;
    text-transform : uppercase;
 }

.col-md-2, .col-md-3, .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
}

 .search-form{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #D9DFFF;
    font-size: 14px;
    line-height: 30px;
    border-radius: 0px;
    padding: 0.5rem 0.75rem;
}

.searchbtn {
    background: #b62E54;
    border : 0px;
    width : 100%;
    padding: 0.5rem 0.75rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    display :block;
    border-radius: 0px;
}
.searchbtn:hover, .btn:hover{
    background: #5d172b;
}

.memebermenu{
    position:sticky;
    background: #e8b5c4;
    border: 0px solid;
    padding : 25px
}

.offer {
    display : flex;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 1.25rem 1.50rem;
    margin: 20px;
}

.offer-firm{
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.offer-info{
    color: #000000;
    justify-content: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.offer-title{
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}
.offer-description{
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    
}
