<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MyInfo</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/MemberStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/member/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner"
                        href="/member/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row profil-menu ">
            <div class="col-md-5 liens-profil-container">
                <div>
                    <% if (data) {%>
                        <h2><i class="fa fa-user fa-2x"></i>
                            <%= data.prenom %>
                                <%= data.nom %>
                        </h2>
                        <% } else { %>
                            <p>Aucun utilisateur trouvé</p>
                            <% } %>
                </div>
                <div class="liste-liens-profil">
                    <ul>
                        <li> </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/member/profil">Mes Infos</a>

                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/member/profil/candid">Mes Candidatures</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil lien-profil-current" href="/member/profil/recrut">Devenir
                                Recruteur</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/member/profil/admin">Devenir Admin</a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">
                <div>
                    <h4>Rejoins une équipe de recrutement</h4>
                </div>
                <div class="info-profil-container">
                    <form action="/member/profil/search-firm" method="post">
                        <div>
                            <label class="info-profil-label">Nom ou SIREN de l'entreprise</label>
                            <input type="text" name="criteria" class="form-control" placeholder="Nom ou SIREN">
                          </div>
                          <button type="submit" class="btn request-btn">Chercher</button>
                    </form>
                    <a href="/member/profil/new-firm" class="btn request-btn">Nouvelle Entreprise</a>

                      
                </div>
                <div class="search-results">
                    <% if (typeof results !== 'undefined') { %>
                        <% if (results.length > 0) { %>
                            <% results.forEach(function(result) { %>
                                <div class="row col-md-12 candid-offer">
                                    <div class="col-md-8 offer-overview">
                                        <span class="offer-firm"><%= result.siren %> - <%= result.head_office %></span><br>
                                        <span class="offer-title"><%= result.name %></span><br>
                                        <span class="offer-description"><%= result.org_type %></span>
                                    </div>
                                    <div class="col-md-4 align-content-center">
                                        <div>
                                            <a class="btn" href="/member/profil/recrut/existing/<%= result.siren %>">Selectioner</a>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <p>No results found.</p>
                        <% } %>
                    <% } %>
                </div>
                <div class="pagination">       
                    <% if (totalPages > 1) { %> 
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <form action="/member/profil/search-firm" method="post" class="pagination-form">
                            <input type="hidden" name="page" value="<%= i %>">
                            <input type="hidden" name="criteria" value="<%= criteria %>">
                            <button type="submit" class="pagination-link <%= (i == currentPage) ? 'active' : '' %>"><%= i %></button>
                        </form>
                    <% } %>
                    <% } %>
        </div>
    </div>

</body>

</html>