<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MyInfo</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/MemberStylesheet.css" />
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/member/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner"
                        href="/member/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row profil-menu ">
            <div class="col-md-5 liens-profil-container">
                <div>
                    <% if (user) {%>
                        <h2><i class="fa fa-user fa-2x"></i>
                            <%= user.prenom %>
                                <%= user.nom %>
                        </h2>
                        <% } %>
                </div>
                <div class="liste-liens-profil">
                    <ul>
                        <li> </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/member/profil">Mes Infos</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil lien-profil-current" href="/member/profil/candid">Mes Candidatures</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/member/profil/recrut">Devenir Recruteur</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-1x"></i>
                            <a class="lien-profil" href="/member/profil/admin">Devenir Admin</a>
                        </li>
                        <li>
                            <a href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-7">

                <div id="messageDiv" class="candidature-div">
                    <% if (files) {%>
                        <form action="/member/candidater-addfile/<%= data.id %>" method="post" id="tempFileUpload"
                            enctype="multipart/form-data">

                            <div class="candidater-form">
                                <div>
                                    <label>CV</label>
                                    <% if (files.cv) {%>
                                        <div class="info-profil">
                                            <a href="/member/common/getfile?fichier_cible=<%= files.cv.name %>"
                                                target="_blank">
                                                <%= files.cv.name %>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                    
                                        <a
                                        href="/member/profil/candid/edit/<%= data.id %>"><i
                                            class="fa fa-trash" aria-hidden="true"></i></a>
                                        </div>
                                        <%} else {%>
                                            <input class="form-control" id="CVfileInput" name="CvFileInput" type="file"
                                                accept="image/*,.pdf" required="true" />
                                            <% } %>
                                </div>
                                <div>
                                    <label>LM</label>
                                    <% if (files.lm) {%>
                                        <div class="info-profil">
                                            <a href="/member/common/getfile?fichier_cible=<%= files.lm.name %>"
                                                target="_blank">
                                                <%= files.lm.name %>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a
                                                href="/member/profil/candid/deletefile/<%= data.id %>/<%= files.lm.id %>"><i
                                                    class="fa fa-trash" aria-hidden="true"></i></a>
                                        </div>

                                        <%} else {%>
                                            <input class="form-control" id="LMfileInput" name="LmFileInput" type="file"
                                                accept="image/*,.pdf" />
                                            <% } %>
                                </div>
                                <div>
                                    <label>CNI</label>
                                    <% if (files.cni) {%>
                                        <div class="info-profil">
                                            <a href="/member/common/getfile?fichier_cible=<%= files.cni.name %>"
                                                target="_blank">
                                                <%= files.cni.name %>
                                            </a>
                                            &nbsp;&nbsp;&nbsp;
                                            <a
                                                href="/member/profil/candid/deletefile/<%= data.id %>/<%= files.cni.id %>"><i
                                                    class="fa fa-trash" aria-hidden="true"></i></a>
                                        </div>
                                        <% } else { %>
                                            <input class="form-control" id="CNIfileInput" name="CniFileInput"
                                                type="file" accept="image/*,.pdf" />
                                            <% } %>
                                </div>
                                <button type="submit" class="btn btn-primary">Modifier la candidature</button>
                            </div>
                        </form>
                        <% } %>

                </div>

                <div class="col-md-12 flex-dir-col offer align-items-center">
                    <% if (data) {%>
                        <div>
                            <label class="offer-label">Description</label>
                            <span class="offer-data">
                                <%= data.description %>
                            </span>
                            <label class="offer-label">Lieu</label>
                            <span class="offer-data">
                                <%= data.loc %>
                            </span>

                            <label class="offer-label">Salaire</label>
                            <span class="offer-data">
                                <%= data.salairemin %> - <%= data.salairemax %> e.
                            </span>
                            <label class="offer-label">Horaires</label>
                            <span class="offer-data">
                                <%= data.horaire %>
                            </span>
                            <% if (data.remote==1) { %>
                                <label class="offer-label">Télétravail</label>
                                <span class="offer-data">Oui</span>
                                <% } %>
                                    <label class="offer-label">Congés</label>
                                    <span class="offer-data">
                                        <%= data.day_off %>
                                    </span>

                                    <label class="offer-label">Type</label>
                                    <span class="offer-data">
                                        <%= data.type_metier %>
                                    </span>

                                    <label class="offer-label">Responsable poste</label>
                                    <span class="offer-data">
                                        <%= data.resp %>
                                    </span>

                                    <% } %>
                        </div>

                </div>
            </div>

        </div>
    </div>

</body>

</html>