<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>MyInfo</title>
    <!-- Lien vers les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/MemberStylesheet.css">
</head>

<body>
    <nav class="navbar justify-content-center">
        <div class="container row">
            <div class="div-md-5">
                <div class="toprectangle"></div>
                <a href='/member/home'>
                    <h2 class="logo">Job'alicious</h2>
                </a>
            </div>
            <div class="div-md-4">
                <hr>
                </hr>
            </div>
            <div class="div-md-3">
                <span><i class="fa fa-user fa-2x"></i><a class="user-corner"
                        href="/member/profil">Utilisateur</a></span>
            </div>
        </div>
    </nav>
    <% if (user) {%>
        <div class="container">
            <div class="row profil-menu ">
                <div class="col-md-5 liens-profil-container">
                    <div>
                        <h2><i class="fa fa-user fa-2x"></i>
                            <%= user.prenom %>
                                <%= user.nom %>
                        </h2>
                    </div>
                    <div class="liste-liens-profil">
                        <ul>
                            <li> </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil" href="/member/profil">Mes Infos</a>

                            </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil lien-profil-current" href="/member/profil/candid">Mes Candidatures</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil" href="/member/profil/recrut">Devenir Recruteur</a>
                            </li>
                            <li>
                                <i class="fa fa-angle-right fa-1x"></i>
                                <a class="lien-profil" href="/member/profil/admin">Devenir Admin</a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="fas fa-sign-out-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7">
                    <div>
                        <h4>Mes Candidatures </h4>
                    </div>
                    <div class="container justify-content-center">
                        <% if (candidatures.length> 0) { %>
                            <% candidatures.forEach(function(candi) { %>
                                <div class="row col-md-12 candid-offer">
                                    <div class="col-md-8 offer-overview">
                                        <span class="offer-firm"><%= candi.loc %></span><br>
                                        <span class="offer-title"><%= candi.intitule %></span><br>
                                        <span class="offer-description"><%= candi.description %></span>
                                    </div>
                                    <div class="col-md-4 candid-info ">
                                        <span class="candid-status">Status</span>
                                        <div>
                                            <i class="fas fa-pencil-alt fa-1x"></i>
                                            <a href="/member/profil/candid/edit/<%= candi.id %>">Modifier</a>
                                        </div>
                                        <div>
                                            <i class="fas fa-trash-alt fa-1x"></i>
                                            <a href="/member/profil/candid/delete/<%= candi.id %>">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                                    <% } else { %>
                                        <p>Aucune dandidature</p>
                                        <% } %>
                                            <% if (typeof error !=='undefined' ) { %>
                                                <div class="alert alert-danger">
                                                    <%= error %>
                                                </div>
                                                <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
            <p>Aucun utilisateur trouvé</p>
            <% } %>
</body>

</html>