<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Page de connexion</title>
	<!-- Lien vers les fichiers CSS de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/HomeStylesheet.css">
</head>

<body>
	<header class="Connexion">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="toprectangle"></div>
					<a href='/'>
						<h2 class="logo">Job'alicious</h2>
					</a>
				</div>
				<div class="col-8">
					<hr>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="Presentation col-md-7">
				<h1 class="titre"><span>Trouve Le<br>Job Parfait</span></h1>
				<h4 class="soustitre">
					<span>
						Humans will soon have new bodies that forever blur the line between the
						natural and synthetic worlds, says bionics designer Hugh Herr. In an unforgettable talk, he
						details "NeuroEmbodied Design," a methodology.
					</span>
					</h4>
				<button type="submit" class="btn btn-primary btn-block" onclick="window.location.href='/signinpage'">Devenir membre</button>
			</div>
			<div class="col-md-5">
				<div class="carte">
					<div class="carte-header text-center">
						<h3>Connexion</h3>
						<p>Pas encore membre ? <a href="/signinpage">Inscrivez vous</a></p>
					</div>
					<form action="/login" method="post">
						<div class="carte-body">
							<div class="form-group">
								<label for="email">Adresse email</label>
								<input type="email" class="form-control" name="email" id="email" required>
							</div>
							<div class="form-group">
								<label for="password">Mot de passe</label>
								<input type="password" class="form-control" name="password" id="password" required>
							</div>
							<% if (typeof error !== 'undefined') { %>
								<div class="alert alert-danger">
								  <%= error %>
								</div>
							  <% } %>
						</div>
						<div class="carte-footer text-center">
							<a class="connexionBtn" href="MDPOublie.html">Mot de passe oublié ?</a>
							<button type="submit" class="btn btn-primary btn-block">Se connecter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>