<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Page de connexion</title>
	<!-- Lien vers les fichiers CSS de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/HomeStylesheet.css">
</head>

<body>
	<header class="Connexion">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="toprectangle"></div>
					<a href='/'>
						<h2 class="logo">Job'alicious</h2>
					</a>
				</div>
				<div class="col-8">
					<hr>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">

				<div class="carte">
					<form action="/signin" method="post">
						<div class="carte-header text-center">
							<h3>Creer un compte</h3>
							<p>Déja membre ? <a href="/">Connectez vous</a></p>
						</div>
						<div class="carte-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="nom">Nom :</label>
										<input type="text" class="form-control" id="nom" name="nom"
											placeholder="Entrez votre nom" value="<%= data.nom %>">
									</div>
									<div class="form-group">
										<label for="prenom">Prénom :</label>
										<input type="text" class="form-control" id="prenom" name="prenom"
											placeholder="Entrez votre prénom" value="<%= data.prenom %>">
									</div>
									<div class="form-group">
										<label for="email">E-mail :</label>
										<input type="email" class="form-control" id="email" name="email"
											placeholder="Entrez votre adresse e-mail" value="<%= data.email %>">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="adresse">Téléphone :</label>
										<input type="text" class="form-control" id="telephone" name="telephone"
											placeholder="Entrez votre adresse" value="<%= data.telephone %>">
									</div>
									<div class="form-group">
										<label for="password">Mot de passe :</label>
										<input type="password" class="form-control" id="password" name="password"
											placeholder="Entrez votre mot de passe">
									</div>
									<div class="form-group">
										<label for="confirmation">Confirmation du mot de passe :</label>
										<input type="password" class="form-control" id="confirmation"
											name="confirmation" placeholder="Confirmez votre mot de passe">
									</div>
								</div>
							</div>
							<% if (typeof error !== 'undefined') { %>
								<div class="alert alert-danger">
									<%= error %>
								</div>
							<% } %>
						</div>

						<div class="carte-footer text-center">
							<p>Vous recevrez un lien de validation par mail !</p>
							<button type="submit" class="btn btn-primary btn-block">Creer un compte</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>