<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Creation compte</title>
	<!-- Lien vers les fichiers CSS de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/HomeStylesheet.css">
</head>
<body>
	<header class="Connexion">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="toprectangle"></div>
					<a href='/'>
						<h2 class="logo">Job'alicious</h2>
					</a>
				</div>
				<div class="col-8">
					<hr>
				</div>
			</div>
		</div>
	</header>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="carte">
					<div class="carte-header text-center">
						<h3>Recuperer mon compte</h3>
                        <a href="Connexion.html">Retour Acceuil</a>
					</div>
					<div class="carte-body">
						<form>
							<div class="form-group">
								<label for="email">Adresse email</label>
								<input type="email" class="form-control" id="email" required>
							</div>
						</form>			  
					</div>
					<div class="carte-footer text-center">
						<p>Vous allez recevoir un lien de récupération par mail</p>
                        <button type="submit" class="btn btn-primary btn-block">Envoyer le mail</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>