<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Creation compte</title>
	<!-- Lien vers les fichiers CSS de Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/HomeStylesheet.css">
</head>

<body>
	<header class="Connexion">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="toprectangle"></div>
					<a href='/'>
						<h2 class="logo">Job'alicious</h2>
					</a>
				</div>
				<div class="col-8">
					<hr>
				</div>
			</div>
		</div>
	</header>
	</header>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div>
					<h3>Bienvenu !</h3>
					<span>Votre compte est en cours de validation, vous recevrez un email. <br>
						A trés bientôt</span><br>
						<a href='/'>
							<p>Retour</p>
						</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>