<script setup>
import { ref } from 'vue';
const listItems = ref([]);
async function getData() {
  const res = await fetch("http://localhost:3000/api/users");
  const finalRes = await res.json();
  listItems.value = finalRes;
}
getData()
</script>
<template>
  <div>
    <header>
      <h1>Liste des utilisateurs</h1>
      <h2>Liste des offres</h2>
      <h3>Bienvenue sur notre plateforme</h3>
    </header>

    <h1> Liste des utilisateurs </h1>

    <table border="1">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in listItems">
          <td>{{ item.nom }}</td>
          <td>{{ item.prenom }}</td>
          <td>{{ item.mail }}</td>
        </tr>
      </tbody>
    </table>

    <table border="2">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Intitule</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in listItems">
          <td>{{ item.name }}</td>
          <td>{{ item.intitule }}</td>
          <td>{{ item.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {

  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
